<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Tutorials</title>
    <link rel="stylesheet" href="styles.css">
    <script src="./vue.min.js"></script>
    
</head>
<body>
    <div id="vue-app">
        <h1>{{greet(' night ')}}</h1>
        <p>Name:{{name}}</p>
        <p>Job:{{job}}</p>
        
        <h1>Vue Binding</h1>
        <a v-bind:href="website">The Net Ninja</a>
        <input type="text" v-bind:value="name">
        <p v-html="websiteTag"></p>

        <h1>Events</h1>
        <button v-on:click="Add(1)">Add a year</button>
        <button v-on:click="Sub(1)">Subtract a year</button>
        <button v-on:dblclick="Add(10)">Add 10 years</button>
        <button v-on:dblclick="Sub(10)">Subtract 10 years</button>
        <p>My age is {{ age }}</p>
        <div id="canvas" v-on:mousemove="updateXY">{{x}}, {{y}}</div>
        <a v-on:click.prevent="click" href="http://www.thenetninja.co.uk">The Net Ninja Website </a>

        <h1>KeyBoardEvents</h1>
            <label>Name:</label>
            <input type="text" v-on:keyup.enter="logName" />
            <label>Age:</label>
            <input type="text" v-on:keyup.enter="logAge" />

            <h1>KeyBoardEvents2</h1>
            <label>Name:</label>
            <input type="text" v-model="name" />
            <span>{{name}}</span>
            <label>Age:</label>
            <input type="text" v-model="age" />
            <span>{{age}}</span>
        <h1>computed property</h1>
       <button v-on:click="a++">Add to A</button>
       <button v-on:click="b++">Add to B</button>
       <p>A - {{a}} </p>
       <p>B - {{b}} </p>
       <p>Age + A = {{addToA()}} </p>
       <p>Age + B = {{addToB()}} </p>

       <!-- dynamic css -->
       <h1>Dynamic CSS</h1>
       <h2>Example 1</h2>
        <!-- <div v-on:click="available=!available" v-bind:class="{available:available}">
            <span>Ryu</span> 
        </div> -->
       <h2>Example 2</h2>
       <button v-on:click="nearby=!nearby">toggle nearby</button>
       <button v-on:click="available=!available"> toggle available</button>
       <div v-bind:class="compClasses">
        <span>Ryu</span>
       </div>
       <h1>Conditionals</h1>
       <!-- if -->
       <button v-on:click="error=!error">Toggle error</button>
       <button v-on:click="success=!success">Toggle success</button>
       <!-- <p v-if="error">Error message</p>
       <p v-else-if="success">whoooo achieved :)</p> -->
       <p v-show="error"> Error message</p>
       <p v-show="success">whoooo achieved :)</p>
       <!-- loop v-for -->
       <h1>Looping through lists</h1>
      <ul>
          <li v-for="(character, index) in characters">{{index}}.{{character}} </li>
      </ul>
      <ul>
          <li v-for="(ninja, index) in ninjas">{{index}}. {{ninja.name}} - {{ninja.age}} </li>
      </ul>
      <template v-for="(ninja,index) in ninjas"> 
        <h3>{{index}}.{{ninja.name}} </h3>
        <p>{{ninja.age}} </p>
      </template>
      <template v-for="ninja in ninjas">
          <div v-for="(val,key) in ninja">
              <p>{{key}} - {{val}} </p>
          </div>
      </template>
    </div>

     <!-- multiple instances -->
     <h1>multiple Vue instance</h1>
     <div id="vue-app-one">
        <h2>{{title}} </h2>
        <p>{{greet}} </p>
     </div>
       
     <div id="vue-app-two">
       <h2>{{title}} </h2>
       <p>{{greet}} </p>
       <button v-on:click="changeTitle">Change App One Title</button>
    </div>
    <!-- components -->
    <h1>components</h1>
    <div id="vue-app-three">    
        <h2>Vue app one</h2>
        <greeting></greeting>
    </div>
    <div id="vue-app-four"> s   
        <h2>Vue app two</h2>
        <greeting></greeting>
    </div>
    <div id="app2">
        <h2>Refs</h2>
        <input type="text" ref="input">
        <button v-on:click="readRefs">Submit</button>
        <p>best meal:{{output}} </p>
        <div ref='test'>hello</div>
    </div>

    <!-- <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script> -->
    <script src= "app.js"></script> 
    <!-- <script src="vue.min.js"></script> -->
</body>
</html>